<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}LVA Auto : voitures de collection et véhicules anciens pour les passionnés{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.css">
			<link rel="stylesheet" href="css/lva-auto.css">
		{% endblock %}
		<!--
		http://realfavicongenerator.net/favicon_checker?protocol=http&site=lva-auto.fr#.WN5vE2_yiUk
		https://www.sitepoint.com/quick-tip-add-favicons-quickly-and-easily-to-your-html/
		https://sympli.io/blog/2017/02/15/heres-everything-you-need-to-know-about-favicons-in-2017/
		-->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}">
		<link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ asset('favicon-194x194.png') }}" sizes="194x194">
		<link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
		<link rel="icon" type="image/png" href="{{ asset('android-chrome-192x192.png') }}" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
		<link rel="manifest" href="{{ asset('manifest.json') }}">
		<link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}">
		<meta name="theme-color" content="#ffffff">
		<meta name="verify-v1" content="SmGTogY9YekHODLWBlGkchg0Ty1qpNmyszxcymOdXIg=" />
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
    </head>
    <body>
        {% block main %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
